<%= form_for(@task, :html => { :multipart => true }) do |f| %>
  <% if @task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
      <% @task.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nome %><br>
    <%= f.text_field :nome %>
  </div>
  <div class="field">
    <%= f.label :prioridade %><br>
    <%= f.select :prioridade, Task.prioridades.keys %>
  </div>
  <div class="field">
    <%= f.label :descricao %><br>
    <%= f.text_area :descricao %>
  </div>

  <% if @task.id %>
    <ul>
      <% @task.anexos.each do |anexo| %>
        <li> <a href="/anexos/<%= anexo.id %>"><%= anexo.name %></a> <br> </li>
      <% end %>
    </ul>
    <%= f.label 'Selecione um Anexo' %>
    <%= f.file_field :anexo %>
  <% end %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
